@model MVC.ViewModels.CreateViewModel.CreateBookingViewModel
@{
    ViewData["Title"] = "CreateBooking";
}

<h3>Create Booking</h3>

<div class="form-group my-3">
    <label class="control-label">Branche Name</label>
    <select asp-for="BrancheId" class="form-control" asp-items="ViewBag.BrancheId">
        <option value="">Select Branche...</option>

    </select>
    <span asp-validation-for="BrancheId" class="text-danger"></span>
</div>

<div>
    <table class="table">
        <thead>
         <tr>
            <th>Room Number</th>
            <th>Number of Beds</th>
            <th>Floor Number</th>
            <th>Number Of Days</th>
            <th>Cost per Days</th>
            <th>Is Available</th>
            <th>Action</th>
         </tr>
        </thead>
        <tbody id="roomLst">
           
        </tbody>
      
    </table>
</div>


@section Scripts{
    <script>
        $(document).ready(function(){
            $('#BrancheId').on('change', function(){
            
               var brancheId = $(this).val();
               var rommList = $('#roomLst');
               rommList.empty();
               var inputQty = '';
                var r = '';
               if(brancheId !== ''){
                    $.ajax({
                        url: '/Booking/GetRooms?brancheId=' + brancheId,
                        success: function (rooms) {
                            $.each(rooms,function(i, room){
                                r += '<tr>';
                                r += ' <td>' + room.roomNo + '</td>';
                                r += ' <td>' + room.noOfBeds + '</td>';
                                r += ' <td>' + room.floorNo + '</td>';
                                r += ' <td>' + 1 + '</td>';
                                r += ' <td>' + room.pricePerDay + ' l.e</td>';
                                r += ' <td>' + room.isAvailable + '</td>';
                                r += ' <td> Booking Now </td>';
                                r += '</tr>';


                            });
                            rommList.append(r);
                            
                            console.log(rooms)
                        },
                        error: function () {
                            alert("Error while get rooms!");
                        }

                    });
               }
            });
        });
    </script>
}
